@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

    
    

body {

    background-color: #222;
    text-transform: lowercase;
 }
 
.jumbotron{
    background-color: rgb(35, 165,165);
    border: 3px solid green;
}
h1 {
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    

}

p{  
    text-align: center;
    margin-top: 15px;
   color: #777;
   font-size: 20px;
   -webkit-font-smoothing: antialiased;
    
}
.col-1.btn{
    background-color: #222;
    color:white;
    font-size: 20px;
    border-color: rgb(35, 165,165);
    
}

.planner p{
    color: #222;
}

.lead {

    text-shadow: 2px dashed rgb(35, 165,165);
    

}

.plannerDiv{  
    
    border-radius: 25px;
    box-shadow: 2px white;
}
.container{
    color: green;
}


#text8AM {

    border-radius: 5px;
} 
#text9AM {

    border-radius: 20px;
} 
#text10AM {

    border-radius: 20px;
} 
#text11AM {

    border-radius: 20px;
} 
#text12AM {

    border-radius: 20px;
} 
#text1PM {

    border-radius: 20px;
} 
#text2PM {

    border-radius: 20px;
} 
#text3PM {

    border-radius: 20px;
} 
#text4PM {

    border-radius: 20px;
} 
#text5PM {

    border-radius: 20px;
} 

textarea:hover{
    background-color: rgb(35, 165,165);
    transition: 0.3s;
}

textarea p {
-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
-moz-box-shadow: inset 2px 2px 2px 0px #222;
box-shadow: inset 2px 2px 2px 0px #222;


}

.bg-red {
    background-color: #222;
}
.bg-green {

    background-color: #222;

}


.bg-gray {
    background-color: #222;
}
/* 
These rules take effect when the browser's width
  is either 767px or less. */

@media screen and (max-width: 767px) {       

     p{
        font-size: smaller;
    } 

}

/*
  These rules take effect when the browser's width
  is either 400px or less.
*/
@media screen and (max-width: 400px) {

    .jumbotron{
        height: 300px;
        
    }
   
    .hourC{
        margin-right: 0px;

    }
    
    .spanBttn{
        border-radius: 25px;
    }
   
}

